/* Limpar formatações */ 

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;
}

/* Layout */

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
    background: white;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#menu-lateral {
    background: orange;
}

#area-postagens {
    width: 660px;
    float: left;
    padding: 5px;
}

#menu-lateral {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    
}

.texto-lateral {
    font-size: 0.8em;
    padding: 5px;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#rodape {
    clear: both;
    color: white;
    text-align: center;
    background: darkslategrey;
    font-weight: bold;
    padding: 15px;
}

/* Formatação do Menu */

a:link, a:visited {
    color: #f7b600;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #e6e6e6;
    padding: 8px;
    border-radius: 5px;
}

#area-cabecalho a:hover {
    color: #f7b600;
    background: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Formatação Geral */

h1 {
    color: darkslategrey;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #f7b600;
}

h3 {
    color: white;
    background-color: darkslategrey;
    padding: 3px;
    text-align: center;
}

.branco {
    color: #e6e6e6;
}

.data-postagem {
    font-size: 0.8em;
    color: #4e4e4e;
    border-bottom: 1px solid #4e4e4e;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

img {
    width: 620px;
}

